html, body {
    min-width: 1440px;
    min-height: 2476px;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #eeeeee;
    margin-bottom: 60px;
}

.main-header h1 {
    text-align: center;
    padding-bottom: 110px;
}


.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:focus,
.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation, 
.user-navigation {
    list-style: none;
    font-weight: 500;
    line-height: 30px;
}

.site-navigation a, 
.user-navigation a{
    color: #000000;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 20px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation a:hover{
    color: #fb565a;
}

.main-navigation a:focus,
.main-navigation a:active{
color:#a6a6a6;
}

.site-navigation-current {
    border-bottom: 2px solid #fb565a;
    width: 62px;
}

.underline-shop-width {
    border-bottom: 2px solid #fb565a;
    width: 75px;
}

.slider {
    margin-bottom: 80px;
}

.slider h2 {
    font-size: 55px;
    line-height: 55px;
}

.slider p {
    color: #283136;
}

.slider img {
    width: 698px;
    height: 413px;
}

.slider1 {
    display: flex;
    height: 413px;
}

.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    
    background-color: #fb565a;
    color: #ffffff;
}

.button:hover {
    background-color: #e74246;
}

.button:focus,
.button:active{
    background-color: #d7373b;
    color: #e37376;
    box-shadow:0 3px 0 #c13135 inset;
}

.main-header h1 {
    height: 55px;
    line-height: 55px;
}

.inner-page main.container {
    display: flex;
}

.filters {
    width: 260px;
    margin-right: 140px;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.sort-section {
    display: flex;
    flex-direction: row;
}

.sort-header {
    margin-right: 225px;
}

.sort-menu {
    display: flex;
}

.category-items {
    display: flex;
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 40px;
}

.category-items div{
    margin-right: 100px;
}

.category-items h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.filter ul {
    list-style: none;
    line-height: 20px;
    font-size: 16px;
}

.filter-input + label {
    color: #797c7f;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #283136;
    opacity: 0.3;
}

.gray-button {
    color: #000000;
    background-color: #eeeeee;
    border: 0px;
}

.gray-button:hover {
    color: #000000;
    background-color: #dfdfdf;
}

.gray-button:active,
.gray-button:focus {
    color: #a9a9a9;
    background-color: #d5d5d5;
    box-shadow:0 3px 0 #bfbfbf inset;
}

.sort-header {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.sort-menu ul{
    list-style: none;
    font-size: 14px;
    line-height: 18px;
}

.sort-menu a {
    color:#000000;
    opacity: 0.3;
}

.sort-menu a:hover,
.sort-menu a:focus{
    color:#000000;
    opacity: 0.6;
}

.sort-menu a:active {
    color:#000000;
    opacity: 1;
}

.sort-item-parameter-current a{
    color:#000000;
    opacity: 1;
}

.browser-top-svg {
    opacity: 0.12;
    position: relative;
    top: -639px;
}

.browser-top-svg:hover {
    opacity: 1;
}

.catalog-list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 760px;
    flex-wrap: wrap;
    
}

.catalog-item {
    width: 360px;
    margin-bottom: 35px;
}

.catalog-item:nth-child(2n){
    margin-left: 40px;
}

.catalog-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pagination-list li{
    list-style: none;
    font-size: 16px;
    line-height: 18px
}

.pagination-item-current a{
    color: #000000;
    border: 3px solid #dbdbdb;
}

.catalog ul {
    list-style: none;
}

.category-items p {
    color: #283136;
}

.item-applications-button-order {
    background-color: #00ca74;
}

.item-applications-button-order:hover {
    background-color: #00bc6c;
}

.item-applications-button-order:focus,
.item-applications-button-order:active {
    background-color: #00aa62;
    color: #4dc491;
    box-shadow:0 3px 0 #009958 inset;
}

.item-presentations-button-order {
    background-color:#efc84a;
}

.item-presentations-button-order:hover {
    background-color: #eab534;
}

.item-presentations-button-order:focus,
.item-presentations-button-order:active {
    background-color: #e5a722;
    color: #edc265;
    box-shadow:0 3px 0 #ce961f inset;
}

.features-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 78px;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 45px;
}

.feature-left {
    width: 660px;
}

.feature-right {
    width: 360px;
}
.feature-left h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.feature-left p {
    color: #283136;
}

.list-of-orders {
    color: #283136;
    list-style: none;
}

.list-of-orders li::before {
    content:"___";
    position: relative;
    left: -10px;
    top:-5px;
    color: red;
}

.features-accuracy h2 {
    font-size: 45px;
    line-height: 45px;
}

.features-accuracy {
    list-style: none;
}

.features-accuracy p{
    color: #283136;
    line-height: 18px;
}

.partners {
    padding-bottom: 48px;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 80px;
}
.partners img{
    opacity: 0.2;
}

.partners img:hover{
    opacity: 1;
}

.partners img:active,
.partners img:focus {
    opacity: 0.1;
}

.footer-map-contacts {
    margin-bottom: 70px;
}

.footer-social.container {
    display: flex;
    align-items: center;
}

.footer-social-left{
    margin-right: 100px;
}

.footer-social-right {
    margin-left: 40px;
}

.footer-social li{
    list-style: none;
}

.footer-social h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.footer-social p {
    color: #283136;
    font-size: 16px;
    line-height: 22px;
}

.modal-feedback h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.feedback-item label{
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.modal-feedback-form input,
.modal-feedback-form textarea {
    border:2px solid #d7dcde;
}

.modal-feedback-form input:hover,
.modal-feedback-form textarea:hover {
    border:2px solid #b4b9bb;
}

.modal-feedback-form input:focus,
.modal-feedback-form textarea:focus {
    border:2px solid #000000;
}

.modal-feedback-form input:active,
.modal-feedback-form textarea:active {
    border:2px solid #b4b9bb;
}

.modal-feedback-form input:invalid,
.modal-feedback-form textarea:invalid {
    border:2px solid #e74246;
    color: #e74246;
}

.modal-feedback-form input[type="text"],
.modal-feedback-form input[type="email"],
.modal-feedback-form textarea[type="text"] {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding: 10px;
}

.visually-hidden {
    display: none;
}

