
html, body, #page {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

#leftNav {
    position: absolute;
    left: 52px;
    top: 77px;
    /* min-height: 80%; */
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    min-height: calc(100% - 255px);
    margin: 0 auto 0px; /*Allow for footer height*/
    vertical-align:bottom;
}

#footer {
    width:100%;
    vertical-align:bottom
}
.footer-footer {
    width:100%;
    vertical-align:bottom
}

.icon-photo {
    display: block;
    float: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url(../img/about/photo.png)
}

/* @media (min-width:992px) { */
    .icon-nav {
      width: 80px;
      display: block;
      float: left;
      margin-right: 10px;
      margin-left: 10px;
      height: 80px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .icon-big {
      width: 100px;
      display: block;
      float: center;
      margin-right: 10px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .icon-home {
      width: 90px;
      height: 90px;
      background-image: url(../images/icon-home.png)
    }
    .icon-home2 {
      width: 90px;
      height: 90px;
      background-image: url(../img/arrow_left.png)
    }
    .icon-projects {
      background-image: url(../images/icon-projects.png)
    }
    .icon-patents {
      background-image: url(../images/icon-patents.png)
    }
    .icon-contacts {
      background-image: url(../images/icon-contacts.png)
    }
    .icon-carddata {
      background-image: url(../images/icon-carddata.png)
    }

    .icon-logistic {
      min-width: 400px;
      min-height: 300px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/icon-logistic.png)
    }
/* } */

/* class="d-flex h-100 align-items-center" */
.vertical-center {
  height: 100%;
  display: flex;
  align-items: center;
}
.icon-about-author {
  height: 100px;
  display: block;
  float: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/ikonka_1.png)
}
.icon-about-author-menu {
  background-image: url(../images/ikonka_1-black.png)
}
.item-wind::before {
  display: block;
  float: center;
  hei ght: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/ikonka_2.png);
    
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.5;
    transition-duration: 0.3s;
    transiti on-delay: 0.2s;
}

/*.icon-frontpage2:hover*/
.item-wind:hover::before,
.item-wind:active::before,
.item-logistic:hover::before,
.item-logistic:active::before{
    tran sform: rotate(-360deg);
    opacity: 1;
}
.icon-frontpage2-menu {
  background-image: url(../images/ikonka_2-black.png)
}
.icon-frontpage3 {
  display: block;
  float: center;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/ikonka_3.png);
      
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.5;
    transition-duration: 0.3s;
    transit ion-delay: 0.2s;
}

.icon-frontpage3:hover{
    transform: rotate(360deg);
    opacity: 1;
}

.icon-frontpage3-menu {
  background-image: url(../images/ikonka_3-black.png)
}




.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.main-footer {
    color: #ffffff;
    padding: 60px 0;
    marg in-top: -65px;
    background-color: rgba(0,0,0,0.5);
    background- image: url("../img/pattern-dark.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.inner-page .main-footer {
    margin: 0;
    margin-top: 55px;
}
.main-footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-contacts {
    margin: 0;
    width: 320px;
    margin-right: 80px;
}

.footer-social {
    text-align: center;
    width: 145px;
}

.footer-social ul {
    display: flex;
    width: 141px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 43px;
    height: 43px;
    
    background-color: #000000;
    color: #ffffff;
}

.social-button:hover,
.social-button:focus {
    background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
    fill: #000000;
}

.footer-copyright {
    margin: 0;
    margin-left: auto;
    width: 150px;
    text-align: center;
}

.footer-copyright .button {
    display: block;
    margin-right: 0;
}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    
    background-color: #ffffff;
}
