
.header {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 48px;
}

@media (min-width: 768px) {
    .header {
        margin-top: 30px;
    }
}
